<div class="timer-wrapper"
     [class.timer--urgent]="isUrgent"
     [class.timer--expired]="isExpired">

  <!-- Arc SVG circulaire -->
  <svg class="timer-ring" viewBox="0 0 44 44" aria-hidden="true">
    <circle class="timer-ring__track" cx="22" cy="22" r="18" />
    <circle class="timer-ring__fill"
            cx="22" cy="22" r="18"
            [style.stroke-dashoffset]="ringDashoffset" />
  </svg>

  <!-- Valeur centrale -->
  <div class="timer-center">
    <span class="timer-value">{{ isExpired ? '0:00' : displayTime }}</span>
    <span class="timer-label">
      <ng-container *ngIf="isExpired"><ion-icon name="alarm-outline" class="timer-label__icon"></ion-icon> Temps !</ng-container>
      <ng-container *ngIf="!isExpired && isUrgent">URGENT</ng-container>
      <ng-container *ngIf="!isExpired && !isUrgent">restant</ng-container>
    </span>
  </div>

</div>
