<ion-card class="add-player-card">
  <ion-card-header>
    <ion-card-title>
      <ion-icon name="person-add"></ion-icon>
      Ajouter un joueur
    </ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <form [formGroup]="form" (ngSubmit)="submit()">
      <ion-item>
        <ion-label position="floating">Prénom</ion-label>
        <ion-input formControlName="name" data-testid="input-player-name" type="text" autocapitalize="words" maxlength="20"></ion-input>
      </ion-item>
      <ion-note color="danger" *ngIf="form.controls.name.invalid && form.controls.name.touched">
        Prénom requis (2-20 caractères)
      </ion-note>

      <ion-button expand="block" type="submit" data-testid="btn-add-player" [disabled]="form.invalid" class="ion-margin-top">
        <ion-icon slot="start" name="add"></ion-icon>
        Ajouter
      </ion-button>
    </form>
  </ion-card-content>
</ion-card>
